.container {
  padding: 50px;
  background-color: white;
  color: rgb(14, 45, 71);
  width: 70%;
}

input[type="text"],
input[type="password"],
textarea {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f9f7f7;
  color: rgb(5, 41, 41);
  letter-spacing: 1px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(241, 239, 231);
  outline: none;
}
label{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 1rem;
  
}
div {
  padding: 10px 0;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #241852;
  color: white;
  padding: 16px 20px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
