.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background:rgb(128, 128, 128);
    color: white;
    width: 100%;
    padding: 1rem;
    margin: 0;
}
.center-head{
    align-items: center;
}
.list{
    display: flex;
    gap: 4rem;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}
.right-head{
    align-self: center;
}
.button{
    gap: 1rem;
}
.add{
    padding: 1rem 1.8rem ;
    text-transform: uppercase;
    background-color: rgb(28, 55, 96);
    color: aliceblue;
    border: none;
}
.add:hover{
    cursor: pointer;
    background-color: black;
    zoom: 1rem;
}